body{
    margin: 0;
    padding: 0;
    background-color: #00171f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.swiper{
    width: 1200px;
    height: 600px;
}

.swiper-button-prev, .swiper-button-next{
    color: #fff;
    transition: .2s linear;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
    transform: scale(1.1);
}

.swiper-pagination-bullet{
    border: 2px solid #fff;
    transition: .2s linear;
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active{
    background-color: #fff;
}





